<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 class="page-title"><%= title %></h1>
    <div>
      <a href="/posts/new">Create New Blog Post...</a>
      <a href="/posts">View All Blog Posts...</a>
    </div>
    
    <div>
        <%- include("blog", {blog : latestBlog}) %>
  </body>
</html>
